body {
    margin: 0;
    overflow: hidden;
    background-color: black;
}

canvas {
    display: block;
    margin: 0;
    border: none;
    position: absolute;
    top: 0;
    left: 0;
}



.hidden {
    display: none;
}

#menu {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
}

#menu h2 {
    margin-bottom: 20px;
}

#menu button {
    margin-top: 10px;
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#menu button:hover {
    background-color: #555;
}

/* Menu button styling */
#menuBtn {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 24px;
    background: transparent;
    color: white;
    border: none;
    cursor: pointer;
}


#endScreen {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
    z-index: 10;
}

#endScreen h2 {
    margin-bottom: 20px;
}

#endScreen button {
    margin-top: 10px;
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#endScreen button:hover {
    background-color: #555;
}


.play-audio {
    font-size: 20px;
    padding: 10px 20px;
    margin-top: 30px;
    cursor: pointer;
}
.play-audio.hidden {
    display: none;
}

audio {
    position: absolute;
    bottom: 10px;
    left: 10px;
    z-index: 30;
}
